TestAidl/.gradle/
TestAidl/.idea/
TestAidl/TestAidl.iml
TestAidl/app/app.iml
TestAidl/app/build/
TestAidl/build/
TestAidl/gradle/
TestAidl/gradlew
TestAidl/gradlew.bat
TestAidl/import-summary.txt
TestAidl/local.properties

TestAidlClient/.gradle/
TestAidlClient/.idea/
TestAidlClient/TestAidlClient.iml
TestAidlClient/app/app.iml
TestAidlClient/app/build/
TestAidlClient/build/
TestAidlClient/gradle/
TestAidlClient/gradlew
TestAidlClient/gradlew.bat
TestAidlClient/import-summary.txt
TestAidlClient/local.properties

